test-action/Exploring_RAG_-_Solution.json
{"flowContents":{"identifier":"428286a6-2840-354f-ab43-cb4284fd682c","instanceIdentifier":"9488149f-0191-1000-ffff-ffffd79652a4","name":"Exploring RAG - Solution","comments":"","position":{"x":-432.0,"y":-232.0},"processGroups":[{"identifier":"3f00b00f-c449-3b6b-bf08-26f8c95bf8c8","instanceIdentifier":"94d5fe5b-0191-1000-0000-00006b2a618a","name":"2) Parsing","comments":"","position":{"x":-632.0,"y":216.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"4bdac721-378e-3e8a-81ff-75ca7e070f8d","instanceIdentifier":"94d1fcf3-0191-1000-ffff-ffffafdfe914","name":"Tag As Text","comments":"","position":{"x":-424.0,"y":0.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2024.08.26-1"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","mime.type":"text/plain","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime.type":{"name":"mime.type","displayName":"mime.type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3f00b00f-c449-3b6b-bf08-26f8c95bf8c8"}],"inputPorts":[{"identifier":"4e606021-d0b6-3d1a-a887-29416bac16a9","instanceIdentifier":"94d6750f-0191-1000-ffff-ffffd8f91620","name":"input","position":{"x":-368.0,"y":-232.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"3f00b00f-c449-3b6b-bf08-26f8c95bf8c8"}],"outputPorts":[{"identifier":"9d4f95d5-c764-3ce3-ac2b-a0f17f419bb1","instanceIdentifier":"94d68cb7-0191-1000-0000-000032df9db2","name":"output","position":{"x":-368.0,"y":296.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"3f00b00f-c449-3b6b-bf08-26f8c95bf8c8"}],"connections":[{"identifier":"7a06a390-d5e9-3d01-96c3-5c0db12c3f51","instanceIdentifier":"94d78304-0191-1000-ffff-fffffacb567a","name":"","source":{"id":"4bdac721-378e-3e8a-81ff-75ca7e070f8d","type":"PROCESSOR","groupId":"3f00b00f-c449-3b6b-bf08-26f8c95bf8c8","name":"Tag As Text","comments":"","instanceIdentifier":"94d1fcf3-0191-1000-ffff-ffffafdfe914"},"destination":{"id":"9d4f95d5-c764-3ce3-ac2b-a0f17f419bb1","type":"OUTPUT_PORT","groupId":"3f00b00f-c449-3b6b-bf08-26f8c95bf8c8","name":"output","instanceIdentifier":"94d68cb7-0191-1000-0000-000032df9db2"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3f00b00f-c449-3b6b-bf08-26f8c95bf8c8"},{"identifier":"908e57a4-eb5b-388f-81b6-9506e0654457","instanceIdentifier":"94d772ad-0191-1000-ffff-ffff9d235634","name":"","source":{"id":"4e606021-d0b6-3d1a-a887-29416bac16a9","type":"INPUT_PORT","groupId":"3f00b00f-c449-3b6b-bf08-26f8c95bf8c8","name":"input","instanceIdentifier":"94d6750f-0191-1000-ffff-ffffd8f91620"},"destination":{"id":"4bdac721-378e-3e8a-81ff-75ca7e070f8d","type":"PROCESSOR","groupId":"3f00b00f-c449-3b6b-bf08-26f8c95bf8c8","name":"Tag As Text","comments":"","instanceIdentifier":"94d1fcf3-0191-1000-ffff-ffffafdfe914"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3f00b00f-c449-3b6b-bf08-26f8c95bf8c8"}],"labels":[],"funnels":[],"controllerServices":[],"parameterContextName":"Tutorials","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"428286a6-2840-354f-ab43-cb4284fd682c"},{"identifier":"3d2502b6-63d0-3826-be23-a72ef5b88a8b","instanceIdentifier":"948b5c18-0191-1000-ffff-ffff905bfec9","name":"AI Test Harness","comments":"","position":{"x":-1368.0,"y":352.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"e6c48ad5-2b22-345b-bec5-8c043251850c","instanceIdentifier":"95d3f35e-0191-1000-ffff-ffffb3d59eda","name":"ExtractText","comments":"","position":{"x":216.0,"y":240.0},"type":"org.apache.nifi.processors.standard.ExtractText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2024.08.26-1"},"properties":{"Enable Unicode Predefined Character Classes":"false","Context":"(.*)","Permit Whitespace and Comments in Pattern":"false","Enable Unicode-aware Case Folding":"false","Enable named group support":"false","Enable DOTALL Mode":"false","Enable Unix Lines Mode":"false","Maximum Buffer Size":"1 MB","Enable Canonical Equivalence":"false","Enable Case-insensitive Matching":"false","Enable Multiline Mode":"false","Enable repeating capture group":"false","Maximum Capture Group Length":"1024","Enable Literal Parsing of the Pattern":"false","Character Set":"UTF-8","Include Capture Group 0":"true"},"propertyDescriptors":{"Enable Unicode Predefined Character Classes":{"name":"Enable Unicode Predefined Character Classes","displayName":"Enable Unicode Predefined Character Classes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Context":{"name":"Context","displayName":"Context","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Permit Whitespace and Comments in Pattern":{"name":"Permit Whitespace and Comments in Pattern","displayName":"Permit Whitespace and Comments in Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Unicode-aware Case Folding":{"name":"Enable Unicode-aware Case Folding","displayName":"Enable Unicode-aware Case Folding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable named group support":{"name":"Enable named group support","displayName":"Enable named group support","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable DOTALL Mode":{"name":"Enable DOTALL Mode","displayName":"Enable DOTALL Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Unix Lines Mode":{"name":"Enable Unix Lines Mode","displayName":"Enable Unix Lines Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Canonical Equivalence":{"name":"Enable Canonical Equivalence","displayName":"Enable Canonical Equivalence","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Case-insensitive Matching":{"name":"Enable Case-insensitive Matching","displayName":"Enable Case-insensitive Matching","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Multiline Mode":{"name":"Enable Multiline Mode","displayName":"Enable Multiline Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable repeating capture group":{"name":"Enable repeating capture group","displayName":"Enable repeating capture group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Capture Group Length":{"name":"Maximum Capture Group Length","displayName":"Maximum Capture Group Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Literal Parsing of the Pattern":{"name":"Enable Literal Parsing of the Pattern","displayName":"Enable Literal Parsing of the Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Capture Group 0":{"name":"Include Capture Group 0","displayName":"Include Capture Group 0","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3d2502b6-63d0-3826-be23-a72ef5b88a8b"},{"identifier":"61d7175c-7166-3905-9a26-bff5b990ad01","instanceIdentifier":"949eb793-0191-1000-0000-000037287768","name":"Extract Prompt","comments":"","position":{"x":-408.0,"y":-208.0},"type":"org.apache.nifi.processors.standard.ExtractText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2024.08.26-1"},"properties":{"Enable Unicode Predefined Character Classes":"false","Permit Whitespace and Comments in Pattern":"false","InitialPrompt":"(.*)","Enable Unicode-aware Case Folding":"false","Enable named group support":"false","Enable DOTALL Mode":"false","Enable Unix Lines Mode":"false","Maximum Buffer Size":"1 MB","Enable Canonical Equivalence":"false","Enable Case-insensitive Matching":"false","Enable Multiline Mode":"false","Enable repeating capture group":"false","Maximum Capture Group Length":"1024","Enable Literal Parsing of the Pattern":"false","Character Set":"UTF-8","Include Capture Group 0":"true"},"propertyDescriptors":{"Enable Unicode Predefined Character Classes":{"name":"Enable Unicode Predefined Character Classes","displayName":"Enable Unicode Predefined Character Classes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permit Whitespace and Comments in Pattern":{"name":"Permit Whitespace and Comments in Pattern","displayName":"Permit Whitespace and Comments in Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"InitialPrompt":{"name":"InitialPrompt","displayName":"InitialPrompt","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Enable Unicode-aware Case Folding":{"name":"Enable Unicode-aware Case Folding","displayName":"Enable Unicode-aware Case Folding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable named group support":{"name":"Enable named group support","displayName":"Enable named group support","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable DOTALL Mode":{"name":"Enable DOTALL Mode","displayName":"Enable DOTALL Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Unix Lines Mode":{"name":"Enable Unix Lines Mode","displayName":"Enable Unix Lines Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Canonical Equivalence":{"name":"Enable Canonical Equivalence","displayName":"Enable Canonical Equivalence","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Case-insensitive Matching":{"name":"Enable Case-insensitive Matching","displayName":"Enable Case-insensitive Matching","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Multiline Mode":{"name":"Enable Multiline Mode","displayName":"Enable Multiline Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable repeating capture group":{"name":"Enable repeating capture group","displayName":"Enable repeating capture group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Capture Group Length":{"name":"Maximum Capture Group Length","displayName":"Maximum Capture Group Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Literal Parsing of the Pattern":{"name":"Enable Literal Parsing of the Pattern","displayName":"Enable Literal Parsing of the Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Capture Group 0":{"name":"Include Capture Group 0","displayName":"Include Capture Group 0","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3d2502b6-63d0-3826-be23-a72ef5b88a8b"},{"identifier":"f5dd8272-3fde-3319-b67e-449eacae766f","instanceIdentifier":"9490ab3c-0191-1000-ffff-fffffe715e88","name":"PromptOpenAI","comments":"","position":{"x":-408.0,"y":480.0},"type":"io.datavolo.runtime.processors.openai.PromptOpenAI","bundle":{"group":"io.datavolo.runtime","artifact":"runtime-openai-nar","version":"2024.08.26-1"},"properties":{"Detail Level":"Auto","Temperature":null,"Response Format":"Plain Text","User":null,"User Message":"${InitialPrompt}","Image URL":null,"Max Tokens":null,"OpenAI API Key":"#{OpenAIKey}","Text Model Name":"gpt-4o-mini","Image Model Name":"gpt-4o-mini","Web Client Service":"7c0e34d9-23f9-3e1a-8b7a-a4a5e8952b0c","Top P":null,"Seed":null,"Max File Size":"10 MB","Prompt Type":"Text","System Message":null,"Image MIME Type":"${mime.type}","OpenAI Organization":null,"Results Attribute":null},"propertyDescriptors":{"Detail Level":{"name":"Detail Level","displayName":"Detail Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Temperature":{"name":"Temperature","displayName":"Temperature","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Format":{"name":"Response Format","displayName":"Response Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"User":{"name":"User","displayName":"User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"User Message":{"name":"User Message","displayName":"User Message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Image URL":{"name":"Image URL","displayName":"Image URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Tokens":{"name":"Max Tokens","displayName":"Max Tokens","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OpenAI API Key":{"name":"OpenAI API Key","displayName":"OpenAI API Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Text Model Name":{"name":"Text Model Name","displayName":"Text Model Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Image Model Name":{"name":"Image Model Name","displayName":"Image Model Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Web Client Service":{"name":"Web Client Service","displayName":"Web Client Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Top P":{"name":"Top P","displayName":"Top P","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Seed":{"name":"Seed","displayName":"Seed","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max File Size":{"name":"Max File Size","displayName":"Max File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Prompt Type":{"name":"Prompt Type","displayName":"Prompt Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"System Message":{"name":"System Message","displayName":"System Message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Image MIME Type":{"name":"Image MIME Type","displayName":"Image MIME Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OpenAI Organization":{"name":"OpenAI Organization","displayName":"OpenAI Organization","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Results Attribute":{"name":"Results Attribute","displayName":"Results Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3d2502b6-63d0-3826-be23-a72ef5b88a8b"},{"identifier":"edd77e72-5c5f-3d22-b21c-0f841925ac23","instanceIdentifier":"95e87a2b-0191-1000-0000-00002e6b2b29","name":"PromptOpenAI","comments":"","position":{"x":216.0,"y":480.0},"type":"io.datavolo.runtime.processors.openai.PromptOpenAI","bundle":{"group":"io.datavolo.runtime","artifact":"runtime-openai-nar","version":"2024.08.26-1"},"properties":{"Detail Level":"Auto","Temperature":null,"Response Format":"Plain Text","User":null,"User Message":"${InitialPrompt}","Image URL":null,"Max Tokens":null,"OpenAI API Key":"#{OpenAIKey}","Text Model Name":"gpt-4o-mini","Image Model Name":"gpt-4o-mini","Web Client Service":"7c0e34d9-23f9-3e1a-8b7a-a4a5e8952b0c","Top P":null,"Seed":null,"Max File Size":"10 MB","Prompt Type":"Text","System Message":"The following are diary entries from Fred Flintstone and should be used for setting a context to additional questions. ${Context}","Image MIME Type":"${mime.type}","OpenAI Organization":null,"Results Attribute":null},"propertyDescriptors":{"Detail Level":{"name":"Detail Level","displayName":"Detail Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Temperature":{"name":"Temperature","displayName":"Temperature","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Format":{"name":"Response Format","displayName":"Response Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"User":{"name":"User","displayName":"User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"User Message":{"name":"User Message","displayName":"User Message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Image URL":{"name":"Image URL","displayName":"Image URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Tokens":{"name":"Max Tokens","displayName":"Max Tokens","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OpenAI API Key":{"name":"OpenAI API Key","displayName":"OpenAI API Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Text Model Name":{"name":"Text Model Name","displayName":"Text Model Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Image Model Name":{"name":"Image Model Name","displayName":"Image Model Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Web Client Service":{"name":"Web Client Service","displayName":"Web Client Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Top P":{"name":"Top P","displayName":"Top P","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Seed":{"name":"Seed","displayName":"Seed","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max File Size":{"name":"Max File Size","displayName":"Max File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Prompt Type":{"name":"Prompt Type","displayName":"Prompt Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"System Message":{"name":"System Message","displayName":"System Message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Image MIME Type":{"name":"Image MIME Type","displayName":"Image MIME Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OpenAI Organization":{"name":"OpenAI Organization","displayName":"OpenAI Organization","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Results Attribute":{"name":"Results Attribute","displayName":"Results Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3d2502b6-63d0-3826-be23-a72ef5b88a8b"},{"identifier":"ca8476fa-29ac-38c5-aef6-2c1e521d7bd5","instanceIdentifier":"95ce9503-0191-1000-ffff-ffffded8283b","name":"JoltTransformJSON","comments":"","position":{"x":216.0,"y":8.0},"type":"org.apache.nifi.processors.jolt.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2024.08.26-1"},"properties":{"Jolt Transform":"jolt-transform-chain","Max String Length":"20 MB","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Pretty Print":"false","Jolt Specification":"[\n  {\n    \"operation\":\"shift\",\n    \"spec\":{\n      \"*\":{\n      \t\"results\": {\n        \t\"*\":{\n              \"metadata\":{\n                \"text\":\"&2\"\n              }\n            }\n      \t}\n      }\n    }\n  }\n]"},"propertyDescriptors":{"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3d2502b6-63d0-3826-be23-a72ef5b88a8b"},{"identifier":"c3295a10-f539-3c77-b9af-df6b628af887","instanceIdentifier":"95ca8083-0191-1000-ffff-ffffecd81ba1","name":"QueryPinecone","comments":"","position":{"x":216.0,"y":-232.0},"type":"io.datavolo.runtime.processors.pinecone.QueryPinecone","bundle":{"group":"io.datavolo.runtime","artifact":"runtime-pinecone-nar","version":"2024.08.26-1"},"properties":{"Query Strategy":"Query by Vector","Query Filter":null,"Pinecone API Key":"#{PineconeAPIKey}","Pinecone Namespace":"default","Include Metadata":"true","ID Record Path":null,"Results Record Path":"/results","Include Vectors":"true","Record Reader":"c92c24ae-e33e-3c55-a95a-7a497b7399c4","Vector Record Path":"/embeddings","Sparse Vector Values Path":null,"Number of Results":"10","Web Client Service":"7c0e34d9-23f9-3e1a-8b7a-a4a5e8952b0c","Record Writer":"8a8cdfd5-81b1-3b82-90fd-8fb5f44b8beb","Pinecone Index":"#{PineconeIndex}","Sparse Vector Indices Path":null},"propertyDescriptors":{"Query Strategy":{"name":"Query Strategy","displayName":"Query Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Query Filter":{"name":"Query Filter","displayName":"Query Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pinecone API Key":{"name":"Pinecone API Key","displayName":"Pinecone API Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Pinecone Namespace":{"name":"Pinecone Namespace","displayName":"Pinecone Namespace","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Metadata":{"name":"Include Metadata","displayName":"Include Metadata","identifiesControllerService":false,"sensitive":false,"dynamic":false},"ID Record Path":{"name":"ID Record Path","displayName":"ID Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Results Record Path":{"name":"Results Record Path","displayName":"Results Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Vectors":{"name":"Include Vectors","displayName":"Include Vectors","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Vector Record Path":{"name":"Vector Record Path","displayName":"Vector Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Sparse Vector Values Path":{"name":"Sparse Vector Values Path","displayName":"Sparse Vector Values Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Number of Results":{"name":"Number of Results","displayName":"Number of Results","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Web Client Service":{"name":"Web Client Service","displayName":"Web Client Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Pinecone Index":{"name":"Pinecone Index","displayName":"Pinecone Index","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Sparse Vector Indices Path":{"name":"Sparse Vector Indices Path","displayName":"Sparse Vector Indices Path","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3d2502b6-63d0-3826-be23-a72ef5b88a8b"},{"identifier":"38e111d9-a398-3523-9c69-c1a0ba95a4f8","instanceIdentifier":"95c8fbb0-0191-1000-0000-00004784a94f","name":"CreateOpenAiEmbeddings","comments":"","position":{"x":216.0,"y":-472.0},"type":"io.datavolo.runtime.processors.openai.CreateOpenAiEmbeddings","bundle":{"group":"io.datavolo.runtime","artifact":"runtime-openai-nar","version":"2024.08.26-1"},"properties":{"OpenAI API Key":"#{OpenAIKey}","User":null,"Max Batch Size":"100","Web Client Service":"7c0e34d9-23f9-3e1a-8b7a-a4a5e8952b0c","Dimensions":"1536","Record Writer":"8a8cdfd5-81b1-3b82-90fd-8fb5f44b8beb","Record Reader":null,"Embeddings Model":"text-embedding-3-small","Text Record Path":"/text","OpenAI Organization":null,"Embeddings Record Path":"/embeddings"},"propertyDescriptors":{"OpenAI API Key":{"name":"OpenAI API Key","displayName":"OpenAI API Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"User":{"name":"User","displayName":"User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Batch Size":{"name":"Max Batch Size","displayName":"Max Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Web Client Service":{"name":"Web Client Service","displayName":"Web Client Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Dimensions":{"name":"Dimensions","displayName":"Dimensions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Embeddings Model":{"name":"Embeddings Model","displayName":"Embeddings Model","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text Record Path":{"name":"Text Record Path","displayName":"Text Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OpenAI Organization":{"name":"OpenAI Organization","displayName":"OpenAI Organization","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Embeddings Record Path":{"name":"Embeddings Record Path","displayName":"Embeddings Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3d2502b6-63d0-3826-be23-a72ef5b88a8b"}],"inputPorts":[{"identifier":"4c0b91f4-4dfb-300a-99a2-c1ea4db16ae0","instanceIdentifier":"948d43f3-0191-1000-ffff-ffff80f933f4","name":"UDP (User Defined Prompt)","position":{"x":-352.0,"y":-360.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"3d2502b6-63d0-3826-be23-a72ef5b88a8b"}],"outputPorts":[{"identifier":"eef91b77-5836-3526-84fe-0351761e12a0","instanceIdentifier":"94a2fb2e-0191-1000-0000-00007ec455ab","name":"RAG app","position":{"x":104.0,"y":896.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"3d2502b6-63d0-3826-be23-a72ef5b88a8b"},{"identifier":"f5b22667-a1ff-3f42-85a1-972c7890911b","instanceIdentifier":"94a243d0-0191-1000-0000-00003294953e","name":"NO aug","position":{"x":-184.0,"y":896.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"3d2502b6-63d0-3826-be23-a72ef5b88a8b"}],"connections":[{"identifier":"f1c4d670-e8fa-376d-8f2e-57daf932cc11","instanceIdentifier":"95d410fe-0191-1000-0000-00005a50c5ed","name":"","source":{"id":"ca8476fa-29ac-38c5-aef6-2c1e521d7bd5","type":"PROCESSOR","groupId":"3d2502b6-63d0-3826-be23-a72ef5b88a8b","name":"JoltTransformJSON","comments":"","instanceIdentifier":"95ce9503-0191-1000-ffff-ffffded8283b"},"destination":{"id":"e6c48ad5-2b22-345b-bec5-8c043251850c","type":"PROCESSOR","groupId":"3d2502b6-63d0-3826-be23-a72ef5b88a8b","name":"ExtractText","comments":"","instanceIdentifier":"95d3f35e-0191-1000-ffff-ffffb3d59eda"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3d2502b6-63d0-3826-be23-a72ef5b88a8b"},{"identifier":"e6372b8d-5f87-3587-8112-ff45a085586d","instanceIdentifier":"95ef185d-0191-1000-ffff-ffff85dd714c","name":"","source":{"id":"61d7175c-7166-3905-9a26-bff5b990ad01","type":"PROCESSOR","groupId":"3d2502b6-63d0-3826-be23-a72ef5b88a8b","name":"Extract Prompt","comments":"","instanceIdentifier":"949eb793-0191-1000-0000-000037287768"},"destination":{"id":"38e111d9-a398-3523-9c69-c1a0ba95a4f8","type":"PROCESSOR","groupId":"3d2502b6-63d0-3826-be23-a72ef5b88a8b","name":"CreateOpenAiEmbeddings","comments":"","instanceIdentifier":"95c8fbb0-0191-1000-0000-00004784a94f"},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3d2502b6-63d0-3826-be23-a72ef5b88a8b"},{"identifier":"3c9a5595-c7d3-37f6-b81e-18257969c181","instanceIdentifier":"949f1d9c-0191-1000-0000-0000240fce59","name":"","source":{"id":"4c0b91f4-4dfb-300a-99a2-c1ea4db16ae0","type":"INPUT_PORT","groupId":"3d2502b6-63d0-3826-be23-a72ef5b88a8b","name":"UDP (User Defined Prompt)","instanceIdentifier":"948d43f3-0191-1000-ffff-ffff80f933f4"},"destination":{"id":"61d7175c-7166-3905-9a26-bff5b990ad01","type":"PROCESSOR","groupId":"3d2502b6-63d0-3826-be23-a72ef5b88a8b","name":"Extract Prompt","comments":"","instanceIdentifier":"949eb793-0191-1000-0000-000037287768"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3d2502b6-63d0-3826-be23-a72ef5b88a8b"},{"identifier":"11244944-973f-3fe0-90e4-1c33b4990730","instanceIdentifier":"95ea2415-0191-1000-0000-000056e4f21b","name":"","source":{"id":"edd77e72-5c5f-3d22-b21c-0f841925ac23","type":"PROCESSOR","groupId":"3d2502b6-63d0-3826-be23-a72ef5b88a8b","name":"PromptOpenAI","comments":"","instanceIdentifier":"95e87a2b-0191-1000-0000-00002e6b2b29"},"destination":{"id":"eef91b77-5836-3526-84fe-0351761e12a0","type":"OUTPUT_PORT","groupId":"3d2502b6-63d0-3826-be23-a72ef5b88a8b","name":"RAG app","instanceIdentifier":"94a2fb2e-0191-1000-0000-00007ec455ab"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3d2502b6-63d0-3826-be23-a72ef5b88a8b"},{"identifier":"05b068b6-3a8d-3ae4-a952-b41adb137a9f","instanceIdentifier":"95e898e5-0191-1000-ffff-ffffb6170fa9","name":"","source":{"id":"e6c48ad5-2b22-345b-bec5-8c043251850c","type":"PROCESSOR","groupId":"3d2502b6-63d0-3826-be23-a72ef5b88a8b","name":"ExtractText","comments":"","instanceIdentifier":"95d3f35e-0191-1000-ffff-ffffb3d59eda"},"destination":{"id":"edd77e72-5c5f-3d22-b21c-0f841925ac23","type":"PROCESSOR","groupId":"3d2502b6-63d0-3826-be23-a72ef5b88a8b","name":"PromptOpenAI","comments":"","instanceIdentifier":"95e87a2b-0191-1000-0000-00002e6b2b29"},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3d2502b6-63d0-3826-be23-a72ef5b88a8b"},{"identifier":"53ff41e1-379d-3042-8f40-d1f8b911f9a6","instanceIdentifier":"95ceb317-0191-1000-ffff-ffffd4dc99ef","name":"","source":{"id":"c3295a10-f539-3c77-b9af-df6b628af887","type":"PROCESSOR","groupId":"3d2502b6-63d0-3826-be23-a72ef5b88a8b","name":"QueryPinecone","comments":"","instanceIdentifier":"95ca8083-0191-1000-ffff-ffffecd81ba1"},"destination":{"id":"ca8476fa-29ac-38c5-aef6-2c1e521d7bd5","type":"PROCESSOR","groupId":"3d2502b6-63d0-3826-be23-a72ef5b88a8b","name":"JoltTransformJSON","comments":"","instanceIdentifier":"95ce9503-0191-1000-ffff-ffffded8283b"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3d2502b6-63d0-3826-be23-a72ef5b88a8b"},{"identifier":"1f928b07-c5e6-32fc-8e38-dabb6f45b539","instanceIdentifier":"9667ccdc-0191-1000-ffff-ffff83dec2a6","name":"","source":{"id":"f5dd8272-3fde-3319-b67e-449eacae766f","type":"PROCESSOR","groupId":"3d2502b6-63d0-3826-be23-a72ef5b88a8b","name":"PromptOpenAI","comments":"","instanceIdentifier":"9490ab3c-0191-1000-ffff-fffffe715e88"},"destination":{"id":"118a31d3-365b-3e9a-8ed9-60e3ed9b3335","type":"FUNNEL","groupId":"3d2502b6-63d0-3826-be23-a72ef5b88a8b","name":"Funnel","comments":"","instanceIdentifier":"966796ee-0191-1000-0000-000058ad70a8"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3d2502b6-63d0-3826-be23-a72ef5b88a8b"},{"identifier":"4f35c0f8-8730-307e-a12f-eb64c3a9af47","instanceIdentifier":"95caa0a6-0191-1000-ffff-ffffa2602da9","name":"","source":{"id":"38e111d9-a398-3523-9c69-c1a0ba95a4f8","type":"PROCESSOR","groupId":"3d2502b6-63d0-3826-be23-a72ef5b88a8b","name":"CreateOpenAiEmbeddings","comments":"","instanceIdentifier":"95c8fbb0-0191-1000-0000-00004784a94f"},"destination":{"id":"c3295a10-f539-3c77-b9af-df6b628af887","type":"PROCESSOR","groupId":"3d2502b6-63d0-3826-be23-a72ef5b88a8b","name":"QueryPinecone","comments":"","instanceIdentifier":"95ca8083-0191-1000-ffff-ffffecd81ba1"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3d2502b6-63d0-3826-be23-a72ef5b88a8b"},{"identifier":"945e5ef2-4fbd-3253-b5a3-26ae83a9cdd3","instanceIdentifier":"9667ad95-0191-1000-0000-00002786f423","name":"","source":{"id":"edd77e72-5c5f-3d22-b21c-0f841925ac23","type":"PROCESSOR","groupId":"3d2502b6-63d0-3826-be23-a72ef5b88a8b","name":"PromptOpenAI","comments":"","instanceIdentifier":"95e87a2b-0191-1000-0000-00002e6b2b29"},"destination":{"id":"118a31d3-365b-3e9a-8ed9-60e3ed9b3335","type":"FUNNEL","groupId":"3d2502b6-63d0-3826-be23-a72ef5b88a8b","name":"Funnel","comments":"","instanceIdentifier":"966796ee-0191-1000-0000-000058ad70a8"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3d2502b6-63d0-3826-be23-a72ef5b88a8b"},{"identifier":"72f8f0a9-441d-399e-abe5-14bcea9e6811","instanceIdentifier":"94a270cd-0191-1000-ffff-ffffdd60bf66","name":"","source":{"id":"f5dd8272-3fde-3319-b67e-449eacae766f","type":"PROCESSOR","groupId":"3d2502b6-63d0-3826-be23-a72ef5b88a8b","name":"PromptOpenAI","comments":"","instanceIdentifier":"9490ab3c-0191-1000-ffff-fffffe715e88"},"destination":{"id":"f5b22667-a1ff-3f42-85a1-972c7890911b","type":"OUTPUT_PORT","groupId":"3d2502b6-63d0-3826-be23-a72ef5b88a8b","name":"NO aug","instanceIdentifier":"94a243d0-0191-1000-0000-00003294953e"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3d2502b6-63d0-3826-be23-a72ef5b88a8b"},{"identifier":"f2e349f7-c622-3383-b04a-8c83d8d060ba","instanceIdentifier":"94a0320f-0191-1000-ffff-ffffea01bf5e","name":"","source":{"id":"61d7175c-7166-3905-9a26-bff5b990ad01","type":"PROCESSOR","groupId":"3d2502b6-63d0-3826-be23-a72ef5b88a8b","name":"Extract Prompt","comments":"","instanceIdentifier":"949eb793-0191-1000-0000-000037287768"},"destination":{"id":"f5dd8272-3fde-3319-b67e-449eacae766f","type":"PROCESSOR","groupId":"3d2502b6-63d0-3826-be23-a72ef5b88a8b","name":"PromptOpenAI","comments":"","instanceIdentifier":"9490ab3c-0191-1000-ffff-fffffe715e88"},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3d2502b6-63d0-3826-be23-a72ef5b88a8b"}],"labels":[{"identifier":"ac4f6902-bd8a-36f9-9494-0f01ca0430f2","instanceIdentifier":"7a9b3ab9-6e74-12c5-9ecf-a1518ccdd124","position":{"x":528.0,"y":424.0},"label":"Augment the LLM request\nwith the additional content","zIndex":0,"width":168.0,"height":48.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"3d2502b6-63d0-3826-be23-a72ef5b88a8b"},{"identifier":"74189a66-c9c5-3c15-b3a6-f0128faa1bee","instanceIdentifier":"9ecd8e3e-0191-1000-ffff-fffff9add30d","position":{"x":-496.0,"y":-264.0},"label":"Grab user input","zIndex":0,"width":128.0,"height":40.0,"style":{"background-color":"#2988e0","font-size":"12px"},"componentType":"LABEL","groupIdentifier":"3d2502b6-63d0-3826-be23-a72ef5b88a8b"},{"identifier":"9c9f8b02-c990-3ca7-b9c1-6aebd02fa928","instanceIdentifier":"170f349b-22c4-18f5-aa31-4ace10c8c5a3","position":{"x":-528.0,"y":424.0},"label":"Send just the user input\nto the LLM","zIndex":0,"width":160.0,"height":40.0,"style":{"background-color":"#9c55aa","font-size":"12px"},"componentType":"LABEL","groupIdentifier":"3d2502b6-63d0-3826-be23-a72ef5b88a8b"},{"identifier":"809571fd-027b-3b6c-9f15-db7448eab0e5","instanceIdentifier":"9cb53dd8-6538-1b3c-ac7e-d88da748f383","position":{"x":528.0,"y":-48.0},"label":"Strip out just the content\nto augment the LLM request","zIndex":0,"width":168.0,"height":48.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"3d2502b6-63d0-3826-be23-a72ef5b88a8b"},{"identifier":"008ff6ee-dc68-38d1-9a27-9ac29b626b6e","instanceIdentifier":"2d8137d8-67c7-1003-9437-1e9fa85c0cb2","position":{"x":528.0,"y":-528.0},"label":"Create embeddings from\nuser input","zIndex":0,"width":168.0,"height":48.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"3d2502b6-63d0-3826-be23-a72ef5b88a8b"},{"identifier":"fea69c3c-e746-3b70-9586-ce087aa5fef6","instanceIdentifier":"e48a3d2f-e48f-1862-bbe0-7d6d36815506","position":{"x":528.0,"y":184.0},"label":"Push the additional content\nto an FF attribute","zIndex":0,"width":168.0,"height":48.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"3d2502b6-63d0-3826-be23-a72ef5b88a8b"},{"identifier":"b773840e-f8dd-36fa-9fff-98d1aa3c47bc","instanceIdentifier":"b8633e31-717a-17e3-b265-166a4a845fb6","position":{"x":528.0,"y":-288.0},"label":"Search vector db\nwith embeddings","zIndex":0,"width":168.0,"height":48.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"3d2502b6-63d0-3826-be23-a72ef5b88a8b"}],"funnels":[{"identifier":"118a31d3-365b-3e9a-8ed9-60e3ed9b3335","instanceIdentifier":"966796ee-0191-1000-0000-000058ad70a8","position":{"x":56.0,"y":712.0},"componentType":"FUNNEL","groupIdentifier":"3d2502b6-63d0-3826-be23-a72ef5b88a8b"}],"controllerServices":[],"parameterContextName":"Tutorials","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"428286a6-2840-354f-ab43-cb4284fd682c"},{"identifier":"39cb7f48-3989-3eca-ba45-bcae8bd97028","instanceIdentifier":"6fae3e5f-5b75-1ec6-b448-56cdd039d988","name":"5) Create Embeddings","comments":"","position":{"x":-632.0,"y":1064.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"71ea5e1f-d4cf-313f-b78c-494425489080","instanceIdentifier":"959013ee-0191-1000-0000-00002a8b6d08","name":"CreateOpenAiEmbeddings","comments":"","position":{"x":-464.0,"y":-48.0},"type":"io.datavolo.runtime.processors.openai.CreateOpenAiEmbeddings","bundle":{"group":"io.datavolo.runtime","artifact":"runtime-openai-nar","version":"2024.08.26-1"},"properties":{"OpenAI API Key":"#{OpenAIKey}","User":null,"Max Batch Size":"100","Web Client Service":"7c0e34d9-23f9-3e1a-8b7a-a4a5e8952b0c","Dimensions":null,"Record Writer":"8a8cdfd5-81b1-3b82-90fd-8fb5f44b8beb","Record Reader":null,"Embeddings Model":"text-embedding-3-small","Text Record Path":"/text","OpenAI Organization":null,"Embeddings Record Path":"/embeddings"},"propertyDescriptors":{"OpenAI API Key":{"name":"OpenAI API Key","displayName":"OpenAI API Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"User":{"name":"User","displayName":"User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Batch Size":{"name":"Max Batch Size","displayName":"Max Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Web Client Service":{"name":"Web Client Service","displayName":"Web Client Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Dimensions":{"name":"Dimensions","displayName":"Dimensions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Embeddings Model":{"name":"Embeddings Model","displayName":"Embeddings Model","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text Record Path":{"name":"Text Record Path","displayName":"Text Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OpenAI Organization":{"name":"OpenAI Organization","displayName":"OpenAI Organization","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Embeddings Record Path":{"name":"Embeddings Record Path","displayName":"Embeddings Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"39cb7f48-3989-3eca-ba45-bcae8bd97028"}],"inputPorts":[{"identifier":"8fd2d4ba-3ade-3f74-a784-70799b3473cc","instanceIdentifier":"3d4e36e0-dd35-1a4d-81c1-71c3e9e7ea16","name":"input","position":{"x":-408.0,"y":-232.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"39cb7f48-3989-3eca-ba45-bcae8bd97028"}],"outputPorts":[{"identifier":"f2a6d674-e394-3c3e-b219-380738977194","instanceIdentifier":"a9aa3b29-d6de-177b-a05c-17584298343f","name":"output","position":{"x":-408.0,"y":248.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"39cb7f48-3989-3eca-ba45-bcae8bd97028"}],"connections":[{"identifier":"515159f3-b79a-31d5-9809-8cced842db24","instanceIdentifier":"95902e66-0191-1000-ffff-fffff85c130c","name":"","source":{"id":"8fd2d4ba-3ade-3f74-a784-70799b3473cc","type":"INPUT_PORT","groupId":"39cb7f48-3989-3eca-ba45-bcae8bd97028","name":"input","instanceIdentifier":"3d4e36e0-dd35-1a4d-81c1-71c3e9e7ea16"},"destination":{"id":"71ea5e1f-d4cf-313f-b78c-494425489080","type":"PROCESSOR","groupId":"39cb7f48-3989-3eca-ba45-bcae8bd97028","name":"CreateOpenAiEmbeddings","comments":"","instanceIdentifier":"959013ee-0191-1000-0000-00002a8b6d08"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"39cb7f48-3989-3eca-ba45-bcae8bd97028"},{"identifier":"ab51f326-b5f4-363d-bfcb-110a1b645690","instanceIdentifier":"9596dec0-0191-1000-ffff-ffffddb9e767","name":"","source":{"id":"71ea5e1f-d4cf-313f-b78c-494425489080","type":"PROCESSOR","groupId":"39cb7f48-3989-3eca-ba45-bcae8bd97028","name":"CreateOpenAiEmbeddings","comments":"","instanceIdentifier":"959013ee-0191-1000-0000-00002a8b6d08"},"destination":{"id":"f2a6d674-e394-3c3e-b219-380738977194","type":"OUTPUT_PORT","groupId":"39cb7f48-3989-3eca-ba45-bcae8bd97028","name":"output","instanceIdentifier":"a9aa3b29-d6de-177b-a05c-17584298343f"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"39cb7f48-3989-3eca-ba45-bcae8bd97028"}],"labels":[],"funnels":[],"controllerServices":[],"parameterContextName":"Tutorials","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"428286a6-2840-354f-ab43-cb4284fd682c"},{"identifier":"044dceba-8595-3400-bf69-a4d0928f5c19","instanceIdentifier":"94cfd9a8-0191-1000-ffff-ffffdca6517a","name":"1) Acquisition","comments":"","position":{"x":-632.0,"y":-72.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"45d72182-58bb-3030-8c5a-e1afb1c5f6e3","instanceIdentifier":"9ec0c4b7-0191-1000-ffff-ffffcc88378c","name":"Get Diary (use 'Run Once', not 'Start')","comments":"","position":{"x":-704.0,"y":288.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2024.08.26-1"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"https://devcenter.datavolo.io/assets/4tutorials/exploring-rag/Fred-Diary.txt","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 day","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"044dceba-8595-3400-bf69-a4d0928f5c19"}],"inputPorts":[],"outputPorts":[{"identifier":"0d5c4677-6227-3054-b411-6c09abdeffc2","instanceIdentifier":"94d0f0ea-0191-1000-ffff-ffffe7135af3","name":"Journal Text File","position":{"x":-648.0,"y":672.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"044dceba-8595-3400-bf69-a4d0928f5c19"}],"connections":[{"identifier":"889bba71-c932-3c61-979c-40d464c7826d","instanceIdentifier":"9ec2eb60-0191-1000-0000-0000249d1d74","name":"","source":{"id":"45d72182-58bb-3030-8c5a-e1afb1c5f6e3","type":"PROCESSOR","groupId":"044dceba-8595-3400-bf69-a4d0928f5c19","name":"Get Diary (use 'Run Once', not 'Start')","comments":"","instanceIdentifier":"9ec0c4b7-0191-1000-ffff-ffffcc88378c"},"destination":{"id":"0d5c4677-6227-3054-b411-6c09abdeffc2","type":"OUTPUT_PORT","groupId":"044dceba-8595-3400-bf69-a4d0928f5c19","name":"Journal Text File","instanceIdentifier":"94d0f0ea-0191-1000-ffff-ffffe7135af3"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"044dceba-8595-3400-bf69-a4d0928f5c19"}],"labels":[{"identifier":"bd9d4f3e-0514-3738-927d-9c02a4f54514","instanceIdentifier":"9ec5bb4e-0191-1000-ffff-fffffbd2d2c6","position":{"x":-712.0,"y":216.0},"label":"use 'Run Once', NOT 'Started' on this processor","zIndex":0,"width":360.0,"height":40.0,"style":{"font-size":"16px"},"componentType":"LABEL","groupIdentifier":"044dceba-8595-3400-bf69-a4d0928f5c19"}],"funnels":[],"controllerServices":[],"parameterContextName":"Tutorials","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"428286a6-2840-354f-ab43-cb4284fd682c"},{"identifier":"b76b66db-a80f-3c5f-a853-9b9675babe57","instanceIdentifier":"581f324b-b2b9-1263-a731-182f90db1920","name":"4) Chunking","comments":"","position":{"x":-632.0,"y":784.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"62c6ebf2-18f7-3bea-894d-ae1279be527b","instanceIdentifier":"94f47c3c-0191-1000-0000-00007444d898","name":"Chunk into individual entries","comments":"","position":{"x":-360.0,"y":48.0},"type":"io.datavolo.runtime.processors.chunking.ChunkText","bundle":{"group":"io.datavolo.runtime","artifact":"runtime-chunking-nar","version":"2024.08.26-1"},"properties":{"Chunk Delimiters":"<journal_item>","Language":"English","Max Chunk Length":"350","Trim Whitespace":"true","Sentence Similarity Threshold":"0.6","Chunking Strategy":"RECURSIVE_DELIMITERS"},"propertyDescriptors":{"Chunk Delimiters":{"name":"Chunk Delimiters","displayName":"Chunk Delimiters","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Language":{"name":"Language","displayName":"Language","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Chunk Length":{"name":"Max Chunk Length","displayName":"Max Chunk Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Whitespace":{"name":"Trim Whitespace","displayName":"Trim Whitespace","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Sentence Similarity Threshold":{"name":"Sentence Similarity Threshold","displayName":"Sentence Similarity Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Chunking Strategy":{"name":"Chunking Strategy","displayName":"Chunking Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"25 ms","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b76b66db-a80f-3c5f-a853-9b9675babe57"}],"inputPorts":[{"identifier":"893f7b25-461d-3c2d-b35d-db228d4271a0","instanceIdentifier":"e16439c7-1e64-1989-a238-138e4b6b2441","name":"input","position":{"x":-303.5,"y":-152.99998495023544},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"b76b66db-a80f-3c5f-a853-9b9675babe57"}],"outputPorts":[{"identifier":"3e353a80-4fa3-30a8-a5a2-0d64aa0d01aa","instanceIdentifier":"b3ed3a13-1830-1cb6-8921-f97f7d71c19c","name":"output","position":{"x":-304.0,"y":344.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"b76b66db-a80f-3c5f-a853-9b9675babe57"}],"connections":[{"identifier":"602cdebb-a3aa-3b62-8fff-337fb73c0f2b","instanceIdentifier":"94f5ed55-0191-1000-0000-000046db6f0a","name":"","source":{"id":"893f7b25-461d-3c2d-b35d-db228d4271a0","type":"INPUT_PORT","groupId":"b76b66db-a80f-3c5f-a853-9b9675babe57","name":"input","instanceIdentifier":"e16439c7-1e64-1989-a238-138e4b6b2441"},"destination":{"id":"62c6ebf2-18f7-3bea-894d-ae1279be527b","type":"PROCESSOR","groupId":"b76b66db-a80f-3c5f-a853-9b9675babe57","name":"Chunk into individual entries","comments":"","instanceIdentifier":"94f47c3c-0191-1000-0000-00007444d898"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b76b66db-a80f-3c5f-a853-9b9675babe57"},{"identifier":"9b0428c8-c247-3f45-9206-113cf5e2c7d6","instanceIdentifier":"94f60d99-0191-1000-0000-00003d955f28","name":"","source":{"id":"62c6ebf2-18f7-3bea-894d-ae1279be527b","type":"PROCESSOR","groupId":"b76b66db-a80f-3c5f-a853-9b9675babe57","name":"Chunk into individual entries","comments":"","instanceIdentifier":"94f47c3c-0191-1000-0000-00007444d898"},"destination":{"id":"3e353a80-4fa3-30a8-a5a2-0d64aa0d01aa","type":"OUTPUT_PORT","groupId":"b76b66db-a80f-3c5f-a853-9b9675babe57","name":"output","instanceIdentifier":"b3ed3a13-1830-1cb6-8921-f97f7d71c19c"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b76b66db-a80f-3c5f-a853-9b9675babe57"}],"labels":[],"funnels":[],"controllerServices":[],"parameterContextName":"Tutorials","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"428286a6-2840-354f-ab43-cb4284fd682c"},{"identifier":"06c3e2a8-2513-3208-8a05-e93780b86bf0","instanceIdentifier":"6f06348c-6369-18ec-93f8-025d70d74e44","name":"3) Clean & Augment","comments":"","position":{"x":-632.0,"y":504.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"26fc6708-9faa-39b5-9f29-4113ee391045","instanceIdentifier":"958a8696-0191-1000-0000-00004716520c","name":"RouteText","comments":"","position":{"x":-408.0,"y":264.0},"type":"org.apache.nifi.processors.standard.RouteText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2024.08.26-1"},"properties":{"Empty Line":"^$","Routing Strategy":"Route to each matching Property Name","Ignore Leading/Trailing Whitespace":"true","Matching Strategy":"Matches Regular Expression","Character Set":"UTF-8","Ignore Case":"false","Grouping Regular Expression":null},"propertyDescriptors":{"Empty Line":{"name":"Empty Line","displayName":"Empty Line","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Leading/Trailing Whitespace":{"name":"Ignore Leading/Trailing Whitespace","displayName":"Ignore Leading/Trailing Whitespace","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Matching Strategy":{"name":"Matching Strategy","displayName":"Matching Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Case":{"name":"Ignore Case","displayName":"Ignore Case","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Grouping Regular Expression":{"name":"Grouping Regular Expression","displayName":"Grouping Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Empty Line","original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"06c3e2a8-2513-3208-8a05-e93780b86bf0"},{"identifier":"19d2ae0a-07d8-3a2a-96eb-0ba8f1cc27e9","instanceIdentifier":"94e8be8b-0191-1000-0000-000065ef24e1","name":"Remove Extraneous White Space","comments":"","position":{"x":-408.0,"y":24.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2024.08.26-1"},"properties":{"Regular Expression":"(\\s)+","Replacement Value":"$1","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"06c3e2a8-2513-3208-8a05-e93780b86bf0"}],"inputPorts":[{"identifier":"d2b270e3-0a26-3e56-8b55-96ade65cf5ef","instanceIdentifier":"92263bbf-4989-1f2e-868e-1043c24a8d56","name":"input","position":{"x":-352.0,"y":-184.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"06c3e2a8-2513-3208-8a05-e93780b86bf0"}],"outputPorts":[{"identifier":"2b6b3696-8c9c-39d4-b1df-19deac81f117","instanceIdentifier":"974b3342-9e2d-1a74-ab31-b9e9bcb76ec6","name":"output","position":{"x":-352.0,"y":496.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"06c3e2a8-2513-3208-8a05-e93780b86bf0"}],"connections":[{"identifier":"1420b4e2-590a-317e-a677-8a8f163c3767","instanceIdentifier":"958aaf23-0191-1000-ffff-ffffb673117b","name":"","source":{"id":"19d2ae0a-07d8-3a2a-96eb-0ba8f1cc27e9","type":"PROCESSOR","groupId":"06c3e2a8-2513-3208-8a05-e93780b86bf0","name":"Remove Extraneous White Space","comments":"","instanceIdentifier":"94e8be8b-0191-1000-0000-000065ef24e1"},"destination":{"id":"26fc6708-9faa-39b5-9f29-4113ee391045","type":"PROCESSOR","groupId":"06c3e2a8-2513-3208-8a05-e93780b86bf0","name":"RouteText","comments":"","instanceIdentifier":"958a8696-0191-1000-0000-00004716520c"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"06c3e2a8-2513-3208-8a05-e93780b86bf0"},{"identifier":"0cf693ba-c0f6-337a-8b1e-d67dec1cd474","instanceIdentifier":"958af418-0191-1000-0000-00007f11fd55","name":"","source":{"id":"26fc6708-9faa-39b5-9f29-4113ee391045","type":"PROCESSOR","groupId":"06c3e2a8-2513-3208-8a05-e93780b86bf0","name":"RouteText","comments":"","instanceIdentifier":"958a8696-0191-1000-0000-00004716520c"},"destination":{"id":"2b6b3696-8c9c-39d4-b1df-19deac81f117","type":"OUTPUT_PORT","groupId":"06c3e2a8-2513-3208-8a05-e93780b86bf0","name":"output","instanceIdentifier":"974b3342-9e2d-1a74-ab31-b9e9bcb76ec6"},"labelIndex":0,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"06c3e2a8-2513-3208-8a05-e93780b86bf0"},{"identifier":"71ee2239-cdeb-3e99-b271-5196799a8c65","instanceIdentifier":"94f2a124-0191-1000-ffff-fffffe16d751","name":"","source":{"id":"d2b270e3-0a26-3e56-8b55-96ade65cf5ef","type":"INPUT_PORT","groupId":"06c3e2a8-2513-3208-8a05-e93780b86bf0","name":"input","instanceIdentifier":"92263bbf-4989-1f2e-868e-1043c24a8d56"},"destination":{"id":"19d2ae0a-07d8-3a2a-96eb-0ba8f1cc27e9","type":"PROCESSOR","groupId":"06c3e2a8-2513-3208-8a05-e93780b86bf0","name":"Remove Extraneous White Space","comments":"","instanceIdentifier":"94e8be8b-0191-1000-0000-000065ef24e1"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"06c3e2a8-2513-3208-8a05-e93780b86bf0"}],"labels":[],"funnels":[],"controllerServices":[],"parameterContextName":"Tutorials","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"428286a6-2840-354f-ab43-cb4284fd682c"},{"identifier":"fc0c69af-7be8-34db-a382-5aab3334d733","instanceIdentifier":"1fd53064-f84a-1d9d-9a04-eb00d0ec78c4","name":"6) Store Embeddings","comments":"","position":{"x":-632.0,"y":1344.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"ebc9a11e-2435-39d5-963b-b49881854887","instanceIdentifier":"95b42bc6-0191-1000-ffff-ffffe18b63b9","name":"UpsertPinecone","comments":"","position":{"x":-328.0,"y":16.0},"type":"io.datavolo.runtime.processors.pinecone.UpsertPinecone","bundle":{"group":"io.datavolo.runtime","artifact":"runtime-pinecone-nar","version":"2024.08.26-1"},"properties":{"Pinecone API Key":"#{PineconeAPIKey}","Max Batch Size":"100","Pinecone Namespace":"default","ID Record Path":null,"Record Reader":"c92c24ae-e33e-3c55-a95a-7a497b7399c4","Vector Record Path":"/embeddings","Sparse Vector Values Path":null,"Text Field Name":"text","Web Client Service":"7c0e34d9-23f9-3e1a-8b7a-a4a5e8952b0c","Pinecone Index":"#{PineconeIndex}","Sparse Vector Indices Path":null,"Text Record Path":"/text","Metadata Record Path":null},"propertyDescriptors":{"Pinecone API Key":{"name":"Pinecone API Key","displayName":"Pinecone API Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Max Batch Size":{"name":"Max Batch Size","displayName":"Max Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pinecone Namespace":{"name":"Pinecone Namespace","displayName":"Pinecone Namespace","identifiesControllerService":false,"sensitive":false,"dynamic":false},"ID Record Path":{"name":"ID Record Path","displayName":"ID Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Vector Record Path":{"name":"Vector Record Path","displayName":"Vector Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Sparse Vector Values Path":{"name":"Sparse Vector Values Path","displayName":"Sparse Vector Values Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text Field Name":{"name":"Text Field Name","displayName":"Text Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Web Client Service":{"name":"Web Client Service","displayName":"Web Client Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Pinecone Index":{"name":"Pinecone Index","displayName":"Pinecone Index","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Sparse Vector Indices Path":{"name":"Sparse Vector Indices Path","displayName":"Sparse Vector Indices Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text Record Path":{"name":"Text Record Path","displayName":"Text Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Metadata Record Path":{"name":"Metadata Record Path","displayName":"Metadata Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fc0c69af-7be8-34db-a382-5aab3334d733"}],"inputPorts":[{"identifier":"6c30db3a-71c0-3629-9a8e-1a8ee3185363","instanceIdentifier":"225733fa-bee5-1080-bc48-56414f09e2bf","name":"input","position":{"x":-303.5,"y":-152.99998495023544},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"fc0c69af-7be8-34db-a382-5aab3334d733"}],"outputPorts":[],"connections":[{"identifier":"0642fde9-33e9-3147-9680-985d84039d4a","instanceIdentifier":"95b4b2c4-0191-1000-0000-00004effebf9","name":"","source":{"id":"ebc9a11e-2435-39d5-963b-b49881854887","type":"PROCESSOR","groupId":"fc0c69af-7be8-34db-a382-5aab3334d733","name":"UpsertPinecone","comments":"","instanceIdentifier":"95b42bc6-0191-1000-ffff-ffffe18b63b9"},"destination":{"id":"7db5e1d1-e7ad-37ff-99f3-baba86c5095a","type":"FUNNEL","groupId":"fc0c69af-7be8-34db-a382-5aab3334d733","name":"Funnel","comments":"","instanceIdentifier":"95b4901c-0191-1000-0000-00002f80a898"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fc0c69af-7be8-34db-a382-5aab3334d733"},{"identifier":"77bb4d55-8624-3d25-ad3e-4ab37a7b405d","instanceIdentifier":"95b46404-0191-1000-0000-000046b14678","name":"","source":{"id":"6c30db3a-71c0-3629-9a8e-1a8ee3185363","type":"INPUT_PORT","groupId":"fc0c69af-7be8-34db-a382-5aab3334d733","name":"input","instanceIdentifier":"225733fa-bee5-1080-bc48-56414f09e2bf"},"destination":{"id":"ebc9a11e-2435-39d5-963b-b49881854887","type":"PROCESSOR","groupId":"fc0c69af-7be8-34db-a382-5aab3334d733","name":"UpsertPinecone","comments":"","instanceIdentifier":"95b42bc6-0191-1000-ffff-ffffe18b63b9"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fc0c69af-7be8-34db-a382-5aab3334d733"},{"identifier":"ed7223f5-15b7-3c80-8863-c468c6adbd07","instanceIdentifier":"95b4c75d-0191-1000-ffff-ffff8996c88d","name":"","source":{"id":"ebc9a11e-2435-39d5-963b-b49881854887","type":"PROCESSOR","groupId":"fc0c69af-7be8-34db-a382-5aab3334d733","name":"UpsertPinecone","comments":"","instanceIdentifier":"95b42bc6-0191-1000-ffff-ffffe18b63b9"},"destination":{"id":"1889b9c6-a0fc-3286-911c-e15a26ae8926","type":"FUNNEL","groupId":"fc0c69af-7be8-34db-a382-5aab3334d733","name":"Funnel","comments":"","instanceIdentifier":"95b49a9d-0191-1000-ffff-ffffd22eb9b7"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fc0c69af-7be8-34db-a382-5aab3334d733"}],"labels":[{"identifier":"261f4478-6c24-343f-85aa-7d3179203d1c","instanceIdentifier":"7a9b3bfb-6e74-12c5-0000-0000150a2b0f","position":{"x":-368.0,"y":296.0},"label":"these 2 relationships should  just \nbe autoterminated in this case","zIndex":0,"width":216.0,"height":56.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"fc0c69af-7be8-34db-a382-5aab3334d733"}],"funnels":[{"identifier":"1889b9c6-a0fc-3286-911c-e15a26ae8926","instanceIdentifier":"95b49a9d-0191-1000-ffff-ffffd22eb9b7","position":{"x":-93.2499709406411,"y":337.5000137451831},"componentType":"FUNNEL","groupIdentifier":"fc0c69af-7be8-34db-a382-5aab3334d733"},{"identifier":"7db5e1d1-e7ad-37ff-99f3-baba86c5095a","instanceIdentifier":"95b4901c-0191-1000-0000-00002f80a898","position":{"x":-498.2499709406411,"y":300.5000137451831},"componentType":"FUNNEL","groupIdentifier":"fc0c69af-7be8-34db-a382-5aab3334d733"}],"controllerServices":[],"parameterContextName":"Tutorials","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"428286a6-2840-354f-ab43-cb4284fd682c"}],"remoteProcessGroups":[],"processors":[{"identifier":"b6cd7e7f-59e7-34e5-8441-ee5ac83dedc8","instanceIdentifier":"948883a7-0191-1000-0000-00006fa0b9e1","name":"Submit Prompt (Use 'Run Once')","comments":"Please only 'RUN ONCE' -- do NOT simply 'START' it. This will allow the test harness to submit one question at a time to the underlying LLM.","position":{"x":-1352.0,"y":-200.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2024.08.26-1"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":"Does Fred Flintstone like to send and receive mail?","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 day","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"428286a6-2840-354f-ab43-cb4284fd682c"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"ddace6fa-a85c-368c-906e-2a17287fb65d","instanceIdentifier":"94db3e10-0191-1000-ffff-ffffb565691f","name":"","source":{"id":"0d5c4677-6227-3054-b411-6c09abdeffc2","type":"OUTPUT_PORT","groupId":"044dceba-8595-3400-bf69-a4d0928f5c19","name":"Journal Text File","instanceIdentifier":"94d0f0ea-0191-1000-ffff-ffffe7135af3"},"destination":{"id":"4e606021-d0b6-3d1a-a887-29416bac16a9","type":"INPUT_PORT","groupId":"3f00b00f-c449-3b6b-bf08-26f8c95bf8c8","name":"input","instanceIdentifier":"94d6750f-0191-1000-ffff-ffffd8f91620"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"428286a6-2840-354f-ab43-cb4284fd682c"},{"identifier":"9bdeff52-ed45-327c-8a2c-c7d06860c561","instanceIdentifier":"94db56e5-0191-1000-0000-0000175c1002","name":"","source":{"id":"9d4f95d5-c764-3ce3-ac2b-a0f17f419bb1","type":"OUTPUT_PORT","groupId":"3f00b00f-c449-3b6b-bf08-26f8c95bf8c8","name":"output","instanceIdentifier":"94d68cb7-0191-1000-0000-000032df9db2"},"destination":{"id":"d2b270e3-0a26-3e56-8b55-96ade65cf5ef","type":"INPUT_PORT","groupId":"06c3e2a8-2513-3208-8a05-e93780b86bf0","name":"input","instanceIdentifier":"92263bbf-4989-1f2e-868e-1043c24a8d56"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"428286a6-2840-354f-ab43-cb4284fd682c"},{"identifier":"77509ac8-93d7-3a8b-aeb0-c1d34926bdc8","instanceIdentifier":"94a3aa12-0191-1000-0000-00004f9db290","name":"","source":{"id":"f5b22667-a1ff-3f42-85a1-972c7890911b","type":"OUTPUT_PORT","groupId":"3d2502b6-63d0-3826-be23-a72ef5b88a8b","name":"NO aug","instanceIdentifier":"94a243d0-0191-1000-0000-00003294953e"},"destination":{"id":"c122590f-a416-3335-b5b4-3453495a2ca1","type":"FUNNEL","groupId":"428286a6-2840-354f-ab43-cb4284fd682c","name":"Funnel","comments":"","instanceIdentifier":"94a37a1a-0191-1000-ffff-ffffc0aec70f"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"428286a6-2840-354f-ab43-cb4284fd682c"},{"identifier":"b9783528-d694-3f9c-9149-91d9d501b505","instanceIdentifier":"94db8403-0191-1000-0000-00002ee964c9","name":"","source":{"id":"2b6b3696-8c9c-39d4-b1df-19deac81f117","type":"OUTPUT_PORT","groupId":"06c3e2a8-2513-3208-8a05-e93780b86bf0","name":"output","instanceIdentifier":"974b3342-9e2d-1a74-ab31-b9e9bcb76ec6"},"destination":{"id":"893f7b25-461d-3c2d-b35d-db228d4271a0","type":"INPUT_PORT","groupId":"b76b66db-a80f-3c5f-a853-9b9675babe57","name":"input","instanceIdentifier":"e16439c7-1e64-1989-a238-138e4b6b2441"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"428286a6-2840-354f-ab43-cb4284fd682c"},{"identifier":"10b0b8ea-af03-3620-855a-9b7df0909734","instanceIdentifier":"94dbaddd-0191-1000-ffff-fffff11e4578","name":"","source":{"id":"f2a6d674-e394-3c3e-b219-380738977194","type":"OUTPUT_PORT","groupId":"39cb7f48-3989-3eca-ba45-bcae8bd97028","name":"output","instanceIdentifier":"a9aa3b29-d6de-177b-a05c-17584298343f"},"destination":{"id":"6c30db3a-71c0-3629-9a8e-1a8ee3185363","type":"INPUT_PORT","groupId":"fc0c69af-7be8-34db-a382-5aab3334d733","name":"input","instanceIdentifier":"225733fa-bee5-1080-bc48-56414f09e2bf"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"428286a6-2840-354f-ab43-cb4284fd682c"},{"identifier":"1acb74f0-371a-3114-9743-307409bdf0be","instanceIdentifier":"948e3a1a-0191-1000-0000-00004542598d","name":"Prompt From User","source":{"id":"b6cd7e7f-59e7-34e5-8441-ee5ac83dedc8","type":"PROCESSOR","groupId":"428286a6-2840-354f-ab43-cb4284fd682c","name":"Submit Prompt (Use 'Run Once')","comments":"Please only 'RUN ONCE' -- do NOT simply 'START' it. This will allow the test harness to submit one question at a time to the underlying LLM.","instanceIdentifier":"948883a7-0191-1000-0000-00006fa0b9e1"},"destination":{"id":"4c0b91f4-4dfb-300a-99a2-c1ea4db16ae0","type":"INPUT_PORT","groupId":"3d2502b6-63d0-3826-be23-a72ef5b88a8b","name":"UDP (User Defined Prompt)","instanceIdentifier":"948d43f3-0191-1000-ffff-ffff80f933f4"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"428286a6-2840-354f-ab43-cb4284fd682c"},{"identifier":"66d3ecf1-f510-34ff-afe4-e262181a54f2","instanceIdentifier":"94a3c35c-0191-1000-ffff-ffffdb4cdbae","name":"","source":{"id":"eef91b77-5836-3526-84fe-0351761e12a0","type":"OUTPUT_PORT","groupId":"3d2502b6-63d0-3826-be23-a72ef5b88a8b","name":"RAG app","instanceIdentifier":"94a2fb2e-0191-1000-0000-00007ec455ab"},"destination":{"id":"a57743f9-efea-3e3a-abd7-bff7d3c661ff","type":"FUNNEL","groupId":"428286a6-2840-354f-ab43-cb4284fd682c","name":"Funnel","comments":"","instanceIdentifier":"94a384f6-0191-1000-0000-00001223dc28"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"428286a6-2840-354f-ab43-cb4284fd682c"},{"identifier":"8fc282b1-24ac-3f39-8267-91862364a29f","instanceIdentifier":"94db99e9-0191-1000-0000-000072b02709","name":"","source":{"id":"3e353a80-4fa3-30a8-a5a2-0d64aa0d01aa","type":"OUTPUT_PORT","groupId":"b76b66db-a80f-3c5f-a853-9b9675babe57","name":"output","instanceIdentifier":"b3ed3a13-1830-1cb6-8921-f97f7d71c19c"},"destination":{"id":"8fd2d4ba-3ade-3f74-a784-70799b3473cc","type":"INPUT_PORT","groupId":"39cb7f48-3989-3eca-ba45-bcae8bd97028","name":"input","instanceIdentifier":"3d4e36e0-dd35-1a4d-81c1-71c3e9e7ea16"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"428286a6-2840-354f-ab43-cb4284fd682c"}],"labels":[{"identifier":"a58b86af-a4af-3fdd-a569-29e136ad0d0f","instanceIdentifier":"94ba7e22-0191-1000-ffff-ffffad64e85f","position":{"x":-848.0,"y":-216.0},"label":"\n** LET'S BUILD THE AI DATA ENGINEERING PIPELINE\nsee https://datavolo.io/understanding-rag/ for more info\n\n\n* Extract\n\n\n\n\n\n\n\n\n\n* Transform\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n* Load","zIndex":0,"width":656.0,"height":1808.0,"style":{"background-color":"#d6ffd9","font-size":"24px"},"componentType":"LABEL","groupIdentifier":"428286a6-2840-354f-ab43-cb4284fd682c"},{"identifier":"da6e16f7-07b6-3cbd-a001-ed6882ad6f65","instanceIdentifier":"9ecba837-0191-1000-ffff-ffffafac31e4","position":{"x":-1308.956102526467,"y":-387.09265579984253},"label":"Datavolo DevCenter Tutorial: Exploring RAG\nhttps://devcenter.datavolo.io/tutorials/exploring-rag/","zIndex":0,"width":664.0,"height":112.0,"style":{"background-color":"#317fd3","font-size":"24px"},"componentType":"LABEL","groupIdentifier":"428286a6-2840-354f-ab43-cb4284fd682c"},{"identifier":"7eff354e-ef0e-3946-82b9-c0f08bef0ca8","instanceIdentifier":"94a44ec9-0191-1000-0000-00005b52619f","position":{"x":-1856.0,"y":-216.0},"label":"** AI TEST HARNESS\n\n1. Update 'Custom Text' property in 'Submit Prompt' \nprocessor with your prompt.\n\n2. Kick off a 'Run Once' (NOT 'Start') on that processor.\n\n3. View contents on FlowFiles in 'NO aug' and 'RAG app' queues.\n\n\n** SAMPLE PROMPTS\n\nDoes Fred Flintstone like to send and receive mail?\n\nHow does Fred Flintstone feel about public transportation?\n\nIs Fred Flintstone someone who frequently journals?\n\nHow often does Fred Flintstone go to the movies?","zIndex":0,"width":896.0,"height":776.0,"style":{"font-size":"18px"},"componentType":"LABEL","groupIdentifier":"428286a6-2840-354f-ab43-cb4284fd682c"}],"funnels":[{"identifier":"a57743f9-efea-3e3a-abd7-bff7d3c661ff","instanceIdentifier":"94a384f6-0191-1000-0000-00001223dc28","position":{"x":-1784.0,"y":480.0},"componentType":"FUNNEL","groupIdentifier":"428286a6-2840-354f-ab43-cb4284fd682c"},{"identifier":"c122590f-a416-3335-b5b4-3453495a2ca1","instanceIdentifier":"94a37a1a-0191-1000-ffff-ffffc0aec70f","position":{"x":-1784.0,"y":360.0},"componentType":"FUNNEL","groupIdentifier":"428286a6-2840-354f-ab43-cb4284fd682c"}],"controllerServices":[{"identifier":"8a8cdfd5-81b1-3b82-90fd-8fb5f44b8beb","instanceIdentifier":"95946878-0191-1000-ffff-ffff8d00f7f9","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2024.08.26-1"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2024.08.26-1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"428286a6-2840-354f-ab43-cb4284fd682c"},{"identifier":"c92c24ae-e33e-3c55-a95a-7a497b7399c4","instanceIdentifier":"95b811c0-0191-1000-0000-00006ef797cc","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2024.08.26-1"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2024.08.26-1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"428286a6-2840-354f-ab43-cb4284fd682c"},{"identifier":"7c0e34d9-23f9-3e1a-8b7a-a4a5e8952b0c","instanceIdentifier":"94cdfa01-0191-1000-ffff-ffffbc842765","name":"StandardWebClientServiceProvider","comments":"","type":"org.apache.nifi.web.client.provider.service.StandardWebClientServiceProvider","bundle":{"group":"org.apache.nifi","artifact":"nifi-web-client-provider-service-nar","version":"2024.08.26-1"},"properties":{"connect-timeout":"10 secs","redirect-handling-strategy":"FOLLOWED","read-timeout":"10 secs","ssl-context-service":null,"proxy-configuration-service":null,"write-timeout":"10 secs"},"propertyDescriptors":{"connect-timeout":{"name":"connect-timeout","displayName":"Connect Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"redirect-handling-strategy":{"name":"redirect-handling-strategy","displayName":"Redirect Handling Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"read-timeout":{"name":"read-timeout","displayName":"Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"ssl-context-service":{"name":"ssl-context-service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"write-timeout":{"name":"write-timeout","displayName":"Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.web.client.provider.api.WebClientServiceProvider","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2024.08.26-1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"428286a6-2840-354f-ab43-cb4284fd682c"}],"parameterContextName":"Tutorials","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"Tutorials":{"name":"Tutorials","parameters":[{"name":"PineconeIndex","description":"","sensitive":false,"provided":false,"value":"diary"},{"name":"PineconeAPIKey","description":"","sensitive":true,"provided":false},{"name":"OpenAIKey","description":"","sensitive":true,"provided":false}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}
